@tailwind base;
@tailwind components;
@tailwind utilities;

/* @author Eko Sutrisno */
@layer utilities {
  @responsive {
    .on-scrollbar {
      scrollbar-width: thin; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */
    }
    .on-scrollbar::-webkit-scrollbar-track {
      box-shadow: none !important;
      background-color: transparent !important;
    }
    .on-scrollbar::-webkit-scrollbar {
      width: 8px !important;
      background-color: rgba(229, 231, 235, 1);
      border-radius: 4px;
    }
    .on-scrollbar::-webkit-scrollbar-thumb {
      background-color: rgba(156, 163, 175, 1);
      border-radius: 4px;
    }
  }
}
